.container {
  min-height: 100vh;
}

.AddSection__title {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0;
}

.AddSection__text {
  color: #6a6c67;
  margin-top: 2px;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.AddSection__form,
.FilterSection {
  background-color: #f1ece5;
  min-height: 90px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #99999073;
}

.form {
  width: 90%;
  display: flex;
  gap: 10px;
  height: 50px;
}

.form__input {
  padding: 20px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
}

.form__input::placeholder {
  font-size: 14px;
}

.form__submit {
  font-size: 20px;
}

.FilterSection {
  display: flex;
  align-items: center;
}

.FilterSection__filters {
  margin-left: 30px;
}

.FilterSection__text {
  display: flex;
  align-items: center;
  color: #6a6c67;
}

.tasksSection {
  margin-bottom: 10rem !important;
}

.tasksSection__TaskItem {
  background-color: #f1ece5;
  height: 70px;
  border-radius: 10px;
}

.TaskItem__content {
  width: 100%;
  align-items: center;
}

.TaskItem__date {
  color: #6a6c67;
  font-size: 12px;
  margin-left: 10px !important;
}

.TaskItem__content-edit:hover,
.TaskItem__content-check:hover {
  background-color: #6a6c6733;
  cursor: pointer;
}

.TaskItem__content-delete:hover,
.TaskItem__content-close:hover {
  background-color: #b71c1c3a;
  cursor: pointer;
}

.TaskItem__content-input {
  background-color: #fff;
  color: #000;
  padding: 15px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 15px;
}

.TaskItem__date {
  opacity: 0;
}

.tasksSection__TaskItem:hover .TaskItem__date {
  transition: 0.3s;
  opacity: 1;
}
.tasksSection__TaskItem {
  transition: 0.3s;
}
.tasksSection__TaskItem:hover {
  transform: translateY(-5px);
}

.completed-task {
  text-decoration: line-through;
  color: #a9a9a9;
}

.TaskItem__content-task {
  flex-grow: 1;
}

@media (max-width: 640px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .AddSection__form {
    min-height: 150px;
  }

  .form__input {
    width: 80%;
  }

  .FilterSection__filters {
    display: flex !important;
    flex-direction: column !important;
  }
  .FilterSection {
    min-height: 210px !important;
  }

  .FilterSection__btn,
  .FilterSection__text {
    margin-bottom: 7px !important;
  }
}

@media (max-width: 533px) {
  .TaskItem__content-input {
    width: 50%;
  }

  .TaskItem__content {
    display: flex !important;
    flex-direction: column !important;
  }
}
